<div id="kt_header" class="header mt-0 mt-lg-0 pt-lg-0" data-kt-sticky="true" data-kt-sticky-name="header"
  data-kt-sticky-offset="{lg: '300px'}">
  <div class="container d-flex flex-stack flex-wrap gap-4" id="kt_header_container">
    <div class="page-title d-flex flex-column align-items-start justify-content-center flex-wrap me-lg-2 pb-10 pb-lg-0"
      data-kt-swapper="true" data-kt-swapper-mode="prepend"
      data-kt-swapper-parent="{default: '#kt_content_container', lg: '#kt_header_container'}">
      <h1 class="d-flex flex-column text-dark fw-bold my-0 fs-1">
        {{fixed.subheader}}
      </h1>
    </div>
    <div class="d-flex d-lg-none align-items-center ms-n3 me-2">
      <div class="btn btn-icon btn-active-icon-primary" id="kt_aside_toggle">
        <i class="ki-duotone ki-abstract-14 fs-1 mt-1">
          <span class="path1"></span>
          <span class="path2"></span>
        </i>
      </div>
      <div class="d-flex align-items-center">
     <h2> Angular Test</h2></div>
    </div>
  </div>
</div>
